@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);

body {
  color: #dcdcdc;
  background-color: #2d2d2d;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px auto 0px auto;
  width: 730px;
}

div#header {
  border-bottom: 2px solid #dcdcdc;
  margin-bottom: 30px;
  padding: 12px 0px 12px 0px;
}

div#logo a {
  color: #dcdcdc;
  float: left;
  font-family: 'Comfortaa', sans-serif;
  font-size: 42px;
  text-decoration: none;
}

div#header #navigation {
  text-align: right;
}

div#header #navigation a {
  color: #dcdcdc;
  font-size: 18px;
  font-weight: bold;
  margin-left: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

div#footer {
  border-top: 2px solid #dcdcdc;
  color: #9c9c9c;
  font-size: 12px;
  margin-top: 30px;
  padding: 12px 0px 12px 0px;
  text-align: right;
}

a {
  color: #6666ff;
}

a:hover {
  color: #d64937;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

div.info {
  color: #555;
  font-size: 14px;
  font-style: italic;
}
